.form .label {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	gap: 10px;
}

.text {
	height: 50px;
	border: 1.5px solid rgba(2, 0, 0, 0.2);
	border-radius: 10px;
}

.select {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 50px;
}
