:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 30px;
	font-weight: 700;
}

p {
	font-size: 18px;
	font-weight: 500;
}

label {
	font-size: 20px;
	font-weight: 500;
}

::placeholder {
	padding: 20px;
	font-size: 18px;
	color: #878c97;
	font-weight: 500;
}

.total-income {
	margin: 0;
}

.income {
	font-size: 64px;
	color: #2f76ff;
}
